<%= form_with(model: worktype) do |form| %>
  <% if worktype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worktype.errors.count, "error") %> prohibited this worktype from being saved:</h2>

      <ul>
        <% worktype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
